In [35]:
import pandas as pd
import numpy as np

autos = pd.read_csv('autos.csv', encoding= 'Latin-1')

In [36]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [37]:
new_cols = []

for col in autos.columns:
    if(col == 'yearOfRegistration'):
        new_cols.append('registration_year')
    elif(col == 'monthOfRegistration'):
        new_cols.append('registration_month')
    elif(col == 'notRepairedDamage'):
        new_cols.append('unrepaired_damage')
    elif(col == 'dateCreated'):
        new_cols.append('ad_created')
    else:
        string = ''
        for char in col:
            if char == char.upper():
                string += '_' + char.lower()
            else:
                string += char
        new_cols.append(string)
new_cols[5] = 'ab_test'
new_cols[9] = 'power_ps'
new_cols[17]= 'num_photos'

autos.columns = new_cols

In the section above, we cleaned up the coloumn names to follow snake case diction, and then we changed some of the wording of the columns to make better sense in snake case

In [38]:
print(autos.describe(include= 'all'))

autos.dtypes

               date_crawled         name  seller offer_type  price ab_test  \
count                 50000        50000   50000      50000  50000   50000
unique                48213        38754       2          2   2357       2
top     2016-04-04 16:40:33  Ford_Fiesta  privat    Angebot     $0    test
freq                      3           78   49999      49999   1421   25756
mean                    NaN          NaN     NaN        NaN    NaN     NaN
std                     NaN          NaN     NaN        NaN    NaN     NaN
min                     NaN          NaN     NaN        NaN    NaN     NaN
25%                     NaN          NaN     NaN        NaN    NaN     NaN
50%                     NaN          NaN     NaN        NaN    NaN     NaN
75%                     NaN          NaN     NaN        NaN    NaN     NaN
max                     NaN          NaN     NaN        NaN    NaN     NaN

       vehicle_type  registration_year  gearbox      power_ps  model  \
count         44905       50000.000000    47320  50000.000000  47242
unique            8                NaN        2           NaN    245
top       limousine                NaN  manuell           NaN   golf
freq          12859                NaN    36993           NaN   4024
mean            NaN        2005.073280      NaN    116.355920    NaN
std             NaN         105.712813      NaN    209.216627    NaN
min             NaN        1000.000000      NaN      0.000000    NaN
25%             NaN        1999.000000      NaN     70.000000    NaN
50%             NaN        2003.000000      NaN    105.000000    NaN
75%             NaN        2008.000000      NaN    150.000000    NaN
max             NaN        9999.000000      NaN  17700.000000    NaN

         odometer  registration_month fuel_type       brand unrepaired_damage  \
count       50000        50000.000000     45518       50000             40171
unique         13                 NaN         7          40                 2
top     150,000km                 NaN    benzin  volkswagen              nein
freq        32424                 NaN     30107       10687             35232
mean          NaN            5.723360       NaN         NaN               NaN
std           NaN            3.711984       NaN         NaN               NaN
min           NaN            0.000000       NaN         NaN               NaN
25%           NaN            3.000000       NaN         NaN               NaN
50%           NaN            6.000000       NaN         NaN               NaN
75%           NaN            9.000000       NaN         NaN               NaN
max           NaN           12.000000       NaN         NaN               NaN

                 ad_created  num_photos   postal_code            last_seen
count                 50000     50000.0  50000.000000                50000
unique                   76         NaN           NaN                39481
top     2016-04-03 00:00:00         NaN           NaN  2016-04-07 06:17:27
freq                   1946         NaN           NaN                    8
mean                    NaN         0.0  50813.627300                  NaN
std                     NaN         0.0  25779.747957                  NaN
min                     NaN         0.0   1067.000000                  NaN
25%                     NaN         0.0  30451.000000                  NaN
50%                     NaN         0.0  49577.000000                  NaN
75%                     NaN         0.0  71540.000000                  NaN
max                     NaN         0.0  99998.000000                  NaN

date_crawled          object
name                  object
seller                object
offer_type            object
price                 object
ab_test               object
vehicle_type          object
registration_year      int64
gearbox               object
power_ps               int64
model                 object
odometer              object
registration_month     int64
fuel_type             object
brand                 object
unrepaired_damage     object
ad_created            object
num_photos             int64
postal_code            int64
last_seen             object
dtype: object

We can probably drop the seller column since most deals are private, and we can also drop the offer_type, since most of the offer types seem to be from Angebot. Registration_year is a bit strange, since the max for that is 9999, and the min is 1000. Since price is an object and also odometer is an object, we can change those to numerical data types.

In [39]:
autos['price'] = autos['price'].str.replace('$','', regex=False).str.replace(',','', regex=False).astype(float)
autos['odometer'] = autos['odometer'].str.replace('km','').str.replace(',','').astype(float)
autos.rename(columns={'odometer' :'odometer_km'},inplace=True)

In [40]:
print(autos['price'].unique())
print(autos['odometer_km'].unique())
print(autos['price'].describe())
print(autos['odometer_km'].describe())
print(autos['price'].value_counts().sort_index().tail(20))
print(autos['odometer_km'].value_counts())

autos= autos[autos['price'] <= 999999.0]

[ 5000.  8500.  8990. ...   385. 22200. 16995.]
[150000.  70000.  50000.  80000.  10000.  30000. 125000.  90000.  20000.
  60000.   5000. 100000.  40000.]
count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64
count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64
197000.0      1
198000.0      1
220000.0      1
250000.0      1
259000.0      1
265000.0      1
295000.0      1
299000.0      1
345000.0      1
350000.0      1
999990.0      1
999999.0      2
1234566.0     1
1300000.0     1
3890000.0     1
10000000.0    1
11111111.0    2
12345678.0    3
27322222.0    1
99999999.0    1
Name: price, dtype: int64
150000.0    32424
125000.0     5170
100000.0     2169
90000.0      1757
80000.0      1436
70000.0      1230
60000.0      1164
50000.0      1027
5000.0        967
40000.0       819
30000.0       789
20000.0       784
10000.0       264
Name: odometer_km, dtype: int64

In [41]:
#autos[['date_crawled','ad_created','last_seen']].value_counts(normalize=True)
autos['date_crawled'].str[0:10].value_counts(normalize=True, dropna=False)

2016-04-03    0.038689
2016-03-20    0.037828
2016-03-21    0.037508
2016-03-12    0.036768
2016-03-14    0.036628
2016-04-04    0.036488
2016-03-07    0.035968
2016-04-02    0.035408
2016-03-19    0.034908
2016-03-28    0.034848
2016-03-29    0.034168
2016-03-15    0.033987
2016-04-01    0.033807
2016-03-30    0.033627
2016-03-08    0.033267
2016-03-09    0.033207
2016-03-22    0.032907
2016-03-26    0.032487
2016-03-11    0.032487
2016-03-23    0.032387
2016-03-10    0.032127
2016-03-31    0.031907
2016-03-25    0.031747
2016-03-17    0.031527
2016-03-27    0.031047
2016-03-16    0.029506
2016-03-24    0.029106
2016-03-05    0.025386
2016-03-13    0.015563
2016-03-06    0.013943
2016-04-05    0.013103
2016-03-18    0.013063
2016-04-06    0.003181
2016-04-07    0.001420
Name: date_crawled, dtype: float64

In [42]:
autos['ad_created'].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2015-06-11    0.000020
2015-08-10    0.000020
2015-09-09    0.000020
2015-11-10    0.000020
2015-12-05    0.000020
                ...
2016-04-03    0.038929
2016-04-04    0.036848
2016-04-05    0.011843
2016-04-06    0.003261
2016-04-07    0.001280
Name: ad_created, Length: 76, dtype: float64

In [43]:
autos['last_seen'].str[0:10].value_counts(normalize=True, dropna=False).sort_values()

2016-03-05    0.001080
2016-03-06    0.004421
2016-03-07    0.005361
2016-03-18    0.007422
2016-03-08    0.007582
2016-03-13    0.008982
2016-03-09    0.009842
2016-03-10    0.010762
2016-03-11    0.012523
2016-03-14    0.012803
2016-03-19    0.015743
2016-03-15    0.015883
2016-03-27    0.016024
2016-03-16    0.016444
2016-03-26    0.016964
2016-03-23    0.018584
2016-03-25    0.019204
2016-03-24    0.019564
2016-03-20    0.020705
2016-03-21    0.020725
2016-03-28    0.020865
2016-03-22    0.021585
2016-03-29    0.022345
2016-04-01    0.023105
2016-03-12    0.023805
2016-03-31    0.023825
2016-04-04    0.024625
2016-03-30    0.024845
2016-04-02    0.024885
2016-04-03    0.025366
2016-03-17    0.027926
2016-04-05    0.124267
2016-04-07    0.130949
2016-04-06    0.220989
Name: last_seen, dtype: float64

Seems like the site was crawled over the months of march and april of 2016, and once the crawling ended, the last_seen frequency went up by almost 12x, meaning all the bots were on last seen causing the big uptick

In [44]:
autos['registration_year'].describe()

count    49989.000000
mean      2005.074916
std        105.724083
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

Some of the years in registration year seems to be messed up, as we have registration years of 1000 and years of 9999 in the dataset

In [45]:
autos['registration_year'].value_counts(normalize=True).sort_index().head(15)
autos = autos[autos['registration_year'].between(1910,2016)]
print(autos['registration_year'].value_counts(normalize=True).sort_index().tail(15))

2002    0.052750
2003    0.056790
2004    0.056998
2005    0.062788
2006    0.056374
2007    0.047981
2008    0.046461
2009    0.043691
2010    0.033258
2011    0.034028
2012    0.027552
2013    0.016785
2014    0.013849
2015    0.008309
2016    0.027406
Name: registration_year, dtype: float64

In the previous cell, I removed any cars from before 1910 (since there were 8 cars that listed a registration year of 1910, and the years around 1910 only had one car listed, so it seemed 1910 is a legitimate year) and since the dataset is from 2016, anything after 2016 is incorrect.

In [46]:
brands = autos['brand'].value_counts().head(15)

I've chosen to gather data on the top 15 counted brands in the dataframe

In [47]:
mean_price_brands = {}

for b in brands.index:
    autos_copy = autos[autos['brand'] == b]
    mean = autos_copy['price'].mean()
    mean_price_brands[b] = mean

In [48]:
pd.DataFrame(pd.Series(mean_price_brands), columns=['mean_price'])

                mean_price
volkswagen     5426.382546
bmw            8102.536248
opel           2876.716404
mercedes_benz  8485.239572
audi           9093.650036
ford           3949.423456
renault        2395.416447
peugeot        3039.468265
fiat           2711.801127
seat           4296.492554
skoda          6334.919481
mazda          4010.771664
nissan         4664.891034
citroen        3699.935629
smart          3542.706587

In [49]:
mean_mileage = {}

for brand in brands.index:
    autos_copy = autos[autos['brand'] == brand]
    mean = autos_copy['odometer_km'].mean()
    mean_mileage[brand] = round(mean,2)
print(mean_mileage)

series_mean_price_brands = pd.Series(mean_price_brands)
series_mean_mileage = pd.Series(mean_mileage)
comparing_price_mileage = pd.DataFrame(series_mean_price_brands, columns=['mean_price'])
comparing_price_mileage['mean_mileage'] = series_mean_mileage
comparing_price_mileage = comparing_price_mileage.sort_values('mean_mileage')

{'volkswagen': 128728.28, 'bmw': 132431.38, 'opel': 129223.14, 'mercedes_benz': 130856.08, 'audi': 129287.78, 'ford': 124068.93, 'renault': 128183.82, 'peugeot': 127136.81, 'fiat': 116553.95, 'seat': 121563.57, 'skoda': 110954.55, 'mazda': 124745.53, 'nissan': 118572.41, 'citroen': 119580.84, 'smart': 99595.81}